@import "leaflet/dist/leaflet.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

html, body, #root {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 96.9%;
  border: 1px solid #ccc;
  padding: 10px;
}

.footer-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 0.9em;
  color: #666;
}
